.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  text-align: left;
}

.header-title-and-count {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header label {
  color:  #1c202b;
  font-size: 20px;
  font-weight: 800;
}
