.notification-container {
  display: flex;
  gap: 0.6rem;
  border-radius: 8px;
  background: #f7fafd;
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.read-notification {
  background-color: #fff;
}

.with-private-msg.read-notification {
  background-color: #fff;
}

.with-private-msg {
  display: flex;
  background: black;
  border-radius: 8px;
  background: #f7fafd;
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.notification-container .avatar {
  align-self: flex-start;
}